<h1>Feedback</h1>
<h3>Do you have a suggestion for the PAL?</h3>
<h3><a href="/students/suggestions">Suggestions</a></h3>

<br>

<h3>Do you want to see what others have said about the PAL?</h3>
<h3><a href="/students/view_feedback">View Feedback</a> </h3>
