<h1>Online Help</h1>
<p>Welcome! This page is for students who can't make the PAL hours and have a question!</p>
<br>
<h3>Which class is it that you want to ask about?</h3>

<h2>Insert list of courses here</h2>
<br>
<h2>Insert textbox here</h2>