<h1>Requests Page</h1>
<h3>
  <br>
  What would you like to do?
</h3>

<h3><%= link_to "Ask for help from a PAL assistant", class_selections_path%> </h3>
<br>
<h3><a href="/students/online_requests">Ask for help from home</a></h3>
<br>
<h3><a href="/students/view_requests">View your requests</a></h3>

