<h1>Scheduling</h1>

<h3>Want to see who's working today?</h3>
<h3><a href="/students/view_schedule">View Schedule</a></h3>

<br>

<h3>Can't make the PAL hours? Request for a certain time!</h3>
<h3><a href="/students/schedule_request">Schedule Request</a></h3><br>
