<h1>View Schedule</h1>

<h3>Here is the schedule for the week</h3>
<br>
<br>
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td, tr {
    padding: 5px;
    text-align: center;
  }
</style>

<table style = "width:100%">

  <tr>
    <th>Time/Day</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
  </tr>

  <tr>
    <td>9AM - 10AM</td>

    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Frank</td>

  </tr>

  <tr>
    <td>10AM - 11AM</td>

    <td> Sindu, Akash@ 10:30 </td>
    <td> Son </td>
    <td> Akash, Sindu </td>
    <td> Anusha </td>
    <td></td>
  </tr>

  <tr>
    <td>11AM - 12PM</td>

    <td> Akash, Sindu(till 11:30AM) </td>
    <td> Son </td>
    <td> Akash, Sindu(till 11:30am), Frank @ 11:30am </td>
    <td> Anusha </td>
    <td></td>

  </tr>

  <tr>
    <td>12PM - 1PM</td>

    <td> Frank </td>
    <td> Anusha </td>
    <td> Son </td>
    <td> Frank </td>
    <td></td>
  </tr>

  <tr>
    <td>1PM - 2PM</td>

    <td> Son </td>
    <td> Akash </td>
    <td> Son </td>
    <td> Frank </td>
    <td></td>
  </tr>

  <tr>
    <td>2PM - 3PM</td>

    <td> Son </td>
    <td> Akash </td>
    <td> Sindu </td>
    <td> Frank </td>
    <td></td>
  </tr>
  <tr>
    <td>3PM - 4PM</td>

    <td> Hend </td>
    <td> Son </td>
    <td> Hend </td>
    <td> Frank </td>
    <td></td>
  </tr>

  <tr>
    <td>4PM - 5PM</td>

    <td> Hend </td>
    <td> Anusha </td>
    <td> Akash, Hend </td>
    <td> Anusha </td>
    <td></td>
  </tr>

  <tr>
    <td>5PM - 5:30PM</td>

    <td> Closed </td>
    <td> Anusha </td>
    <td> Hend </td>
    <td> Anusha </td>
    <td></td>

  </tr>



</table>

